<a href="https://colab.research.google.com/github/zdipirro/is465_2020/blob/master/CollabExamplePage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print('hello world')

hello world

This is the start

In [0]:
# Author: Olivier Grisel <olivier.grisel@ensta.org>
#         Lars Buitinck
#         Chyi-Kwei Yau <chyikwei.yau@gmail.com>
# License: BSD 3 clause

import some packages: 
time is a python time library

web mining is mining the text (term frequency is: 1/6 2/6...)
web mining is fun (term frequency is: 1/4)
idf(inverse document frequency) log3/2
tf-idf = 1/6*log3/2

In [0]:
from time import time

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation
from sklearn.datasets import fetch_20newsgroups

Define some variables

In [0]:
n_samples = 2000
n_features = 1000
n_components = 10
n_top_words = 20
print(n_samples)

2000

Define a function

In [0]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        message = "Topic #%d: " % topic_idx
        message += " ".join([feature_names[i]
                             for i in topic.argsort()[:-n_top_words - 1:-1]])
        print(message)
    print()

Load the 20 newsgroups dataset and vectorize it. We use a few heuristics
to filter out useless terms early on: the posts are stripped of headers,footers and quoted replies, and common English words, words occurring in only one document or in at least 95% of the documents are removed.

In [0]:
print("Loading dataset...")
t0 = time()
data, _ = fetch_20newsgroups(shuffle=True, random_state=1,
                             remove=('headers', 'footers', 'quotes'),
                             return_X_y=True)
data_samples = data[:n_samples]
print("done in %0.3fs." % (time() - t0))

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

Loading dataset...
done in 11.187s.

Use tf-idf features for NMF.

In [0]:
print("Extracting tf-idf features for NMF...")
tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=2,
                                   max_features=n_features,
                                   stop_words='english')
t0 = time()
tfidf = tfidf_vectorizer.fit_transform(data_samples)
print("done in %0.3fs." % (time() - t0))

Extracting tf-idf features for NMF...
done in 0.341s.

Use tf (raw term count) features for LDA.

In [0]:
print("Extracting tf features for LDA...")
tf_vectorizer = CountVectorizer(max_df=0.95, min_df=2,
                                max_features=n_features,
                                stop_words='english')
t0 = time()
tf = tf_vectorizer.fit_transform(data_samples)
print("done in %0.3fs." % (time() - t0))
print()

Extracting tf features for LDA...
done in 0.337s.

In [0]:
data_samples[100]

'\nI\'ve been a very intent NREN spectator of the NREN for years.  As a \ncommercial IP software vendor, it really is my professional opinion that the \nNREN, at this point, is irrelevant to private sector networking.  If it had \nbeen deployed five years ago, it would have been a major development.  Now,\nhowever, it\'s just an upgrade to the NSFnet, and an attempt to revive the \nlagging use of the national supercomputer centers.  You could cut out the \nNSFnet completely, and the Internet would continue chugging along without a \nhiccup (aside from a few universities).\n\nLong-haul networking and Internet connectivity have long since ceased to be \nunder federal sponsorship or regulation, at least in the USA.  The success of \nthe CIX (Commercial Internet Exchange) is a prime example of this.  While our \ndear VP has been promoting his "data superhighway," the private sector has \nbeen building it, without the NSFnet\'s restrictions.\n\nTo illustrate, a connection from the machine on my desk to the machine your \narticle was posted from (pizzabox.demon.co.uk) involves *only* commercial IP \nproviders until it hits Amsterdam.  No NSFnet.  No NREN.  No "appropriate \nuse" restrictions.  It\'s even 1.544mbps (T1) until it hits the EUnet \ngateway...\n\nQED.\n'

Fit the NMF model

Fit the NMF model

In [0]:
print("Fitting the NMF model (Frobenius norm) with tf-idf features, "
      "n_samples=%d and n_features=%d..."
      % (n_samples, n_features))
t0 = time()
nmf = NMF(n_components=n_components, random_state=1,
          alpha=.1, l1_ratio=.5).fit(tfidf)
print("done in %0.3fs." % (time() - t0))

print("\nTopics in NMF model (Frobenius norm):")
tfidf_feature_names = tfidf_vectorizer.get_feature_names()
print_top_words(nmf, tfidf_feature_names, n_top_words)

Fitting the NMF model (Frobenius norm) with tf-idf features, n_samples=2000 and n_features=1000...
done in 0.394s.

Topics in NMF model (Frobenius norm):
Topic #0: just people don think like know time good make way really say right ve want did ll new use years
Topic #1: windows use dos using window program os drivers application help software pc running ms screen files version card code work
Topic #2: god jesus bible faith christian christ christians does heaven sin believe lord life church mary atheism belief human love religion
Topic #3: thanks know does mail advance hi info interested email anybody looking card help like appreciated information send list video need
Topic #4: car cars tires miles 00 new engine insurance price condition oil power speed good 000 brake year models used bought
Topic #5: edu soon com send university internet mit ftp mail cc pub article information hope program mac email home contact blood
Topic #6: file problem files format win sound ftp pub read save site help image available create copy running memory self version
Topic #7: game team games year win play season players nhl runs goal hockey toronto division flyers player defense leafs bad teams
Topic #8: drive drives hard disk floppy software card mac computer power scsi controller apple mb 00 pc rom sale problem internal
Topic #9: key chip clipper keys encryption government public use secure enforcement phone nsa communications law encrypted security clinton used legal standard

In [0]:
# Fit the NMF model
print("Fitting the NMF model (generalized Kullback-Leibler divergence) with "
      "tf-idf features, n_samples=%d and n_features=%d..."
      % (n_samples, n_features))
t0 = time()
nmf = NMF(n_components=n_components, random_state=1,
          beta_loss='kullback-leibler', solver='mu', max_iter=1000, alpha=.1,
          l1_ratio=.5).fit(tfidf)
print("done in %0.3fs." % (time() - t0))
print("\nTopics in NMF model (generalized Kullback-Leibler divergence):")
tfidf_feature_names = tfidf_vectorizer.get_feature_names()
print_top_words(nmf, tfidf_feature_names, n_top_words)

Fitting the NMF model (generalized Kullback-Leibler divergence) with tf-idf features, n_samples=2000 and n_features=1000...
done in 1.418s.

Topics in NMF model (generalized Kullback-Leibler divergence):
Topic #0: people don just like think did say time make know really right said things way ve course didn question probably
Topic #1: windows help thanks using hi looking info video dos pc does anybody ftp appreciated mail know advance available use card
Topic #2: god does jesus true book christian bible christians religion faith believe life church christ says know read exist lord people
Topic #3: thanks know bike interested mail like new car edu heard just price list email hear want cars thing sounds reply
Topic #4: 10 00 sale time power 12 new 15 year 30 offer condition 14 16 model 11 monitor 100 old 25
Topic #5: space government number public data states earth security water research nasa general 1993 phone information science technology provide blood internet
Topic #6: edu file com program soon try window problem remember files sun send library article mike wrong think code win manager
Topic #7: game team year games play win season points world division won players nhl flyers toronto case cubs teams ll record
Topic #8: drive think hard software disk drives apple computer mac need scsi card don problem read floppy post cable going ii
Topic #9: use good just key chip got like ll way clipper doesn keys don better speed stuff want sure going need

In [0]:
print("Fitting LDA models with tf features, "
      "n_samples=%d and n_features=%d..."
      % (n_samples, n_features))
lda = LatentDirichletAllocation(n_components=n_components, max_iter=5,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0)
t0 = time()
lda.fit(tf)
print("done in %0.3fs." % (time() - t0))

print("\nTopics in LDA model:")
tf_feature_names = tf_vectorizer.get_feature_names()
print_top_words(lda, tf_feature_names, n_top_words)

Fitting LDA models with tf features, n_samples=2000 and n_features=1000...
done in 4.090s.

Topics in LDA model:
Topic #0: edu com mail send graphics ftp pub available contact university list faq ca information cs 1993 program sun uk mit
Topic #1: don like just know think ve way use right good going make sure ll point got need really time doesn
Topic #2: christian think atheism faith pittsburgh new bible radio games alt lot just religion like book read play time subject believe
Topic #3: drive disk windows thanks use card drives hard version pc software file using scsi help does new dos controller 16
Topic #4: hiv health aids disease april medical care research 1993 light information study national service test led 10 page new drug
Topic #5: god people does just good don jesus say israel way life know true fact time law want believe make think
Topic #6: 55 10 11 18 15 team game 19 period play 23 12 13 flyers 20 25 22 17 24 16
Topic #7: car year just cars new engine like bike good oil insurance better tires 000 thing speed model brake driving performance
Topic #8: people said did just didn know time like went think children came come don took years say dead told started
Topic #9: key space law government public use encryption earth section security moon probe enforcement keys states lunar military crime surface technology

In [0]:
BigString = ' '.join(data_samples)
wordlist = BigString.split()
#print(BigString)
wordfreq = []
for w in BigString:
  wordfreq.append(wordlist.count(w))
str(list(zip(wordlist, wordfreq)))

In [0]:
# Start with loading all necessary libraries
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt

In [0]:
# Upload the wine review dataset
from google.colab import files
uploaded = files.upload()

Saving winemag-data-130k-v2.csv to winemag-data-130k-v2.csv

In [0]:
# Load in the dataframe
import io
df2 = pd.read_csv(io.BytesIO(uploaded['winemag-data-130k-v2.csv']))
# Dataset is now stored in a Pandas Dataframe

In [0]:
# Looking at first 5 rows of the dataset
df2.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [0]:
#Printout of some basic information about the dataset using print() combined with .format() to have a nice printout.
print("There are {} observations and {} features in this dataset. \n".format(df2.shape[0],df2.shape[1]))
print("There are {} types of wine in this dataset such as {}... \n".format(len(df2.variety.unique()),
                                                                           ", ".join(df2.variety.unique()[0:5])))

print("There are {} countries producing wine in this dataset such as {}... \n".format(len(df2.country.unique()),
                                                                                      ", ".join(df2.country.unique()[0:5])))

There are 129971 observations and 14 features in this dataset.

There are 708 types of wine in this dataset such as White Blend, Portuguese Red, Pinot Gris, Riesling, Pinot Noir...

There are 44 countries producing wine in this dataset such as Italy, Portugal, US, Spain, France...

In [0]:
df2[["country", "description","points"]].head()

    country                                        description  points
0     Italy  Aromas include tropical fruit, broom, brimston...      87
1  Portugal  This is ripe and fruity, a wine that is smooth...      87
2        US  Tart and snappy, the flavors of lime flesh and...      87
3        US  Pineapple rind, lemon pith and orange blossom ...      87
4        US  Much like the regular bottling from 2012, this...      87

In [0]:
# Groupby by country
country = df2.groupby("country")

# Summary statistic of all countries
country.describe().head()

                       Unnamed: 0                ...  price
                            count          mean  ...    75%     max
country                                          ...
Argentina                  3800.0  65075.723158  ...  25.00   230.0
Armenia                       2.0  37158.000000  ...  14.75    15.0
Australia                  2329.0  65037.539287  ...  38.00   850.0
Austria                    3345.0  65614.296861  ...  36.50  1100.0
Bosnia and Herzegovina        2.0  56613.000000  ...  12.75    13.0

[5 rows x 24 columns]